pandas==2.0.3
numpy==1.24.4
pytube==15.0.0
spotipy==2.24.0
stqdm==0.0.5
python-dotenv==1.0.1
selenium
youtube-search-python
yt-dlp==2024.9.27
streamlit==1.40.1
webdriver-manager==4.0.2
httpx<0.28
seleniumbase